<nav class="navbar navbar-expand-xl bg-dark navbar-dark p-0 ">


    <div class="container">

    
        <a routerLink='' class="navbar-brand">
            <img src="../../../assets/img/sP.png" class="navbar-brand logo" alt="Logo portafolio Starling Samuel Perez">
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#menu" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
     </div>
        <div class="collapse navbar-collapse" id='menu'>
            <ul class="navbar-nav menuopciones">
                <li class="nav-item px-2">
                    <a routerLink='/' class="nav-link">Inicio</a>
                </li>
            </ul>


        </div>





</nav>


